server:
  port: 9002
  tomcat:
    uri-encoding: UTF-8

logging:
  level:
    com:
      bjyx: debug

spring:
#  mvc:
#    static-path-pattern: /static/**
  resources: static-locations=classpath:/static/
  thymeleaf:
    cache: false
    mode: LEGACYHTML5
  datasource:
    mysql:
      driver-class-name: com.mysql.jdbc.Driver
      jdbc-url: jdbc:mysql://127.0.0.1:3306/bjyxquery?useUnicode=true&characterEncoding=UTF-8&serverTimezone=UTC&&allowMultiQueries=true
      username: root
      password: root
    type: com.alibaba.druid.pool.DruidDataSource

#      password: GuoruiJUN@07
mybatis:
  type-aliases-package: com.bjyx

http:
  encoding:
    charset: UTF-8
    enabled: true
    force: true

perMoney: 0.5

currentVersion: 1.02

baseDir: /home/code

pagehelper:
  helper-dialect: mysql
  reasonable: true
  support-methods-arguments: true
  params: count=countSql

