<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:text-align="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title>ITV 数据监控</title>
    <!-- <meta http-equiv="refresh" content="60">-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Bluth Company">
    <link rel="../static/shortcut icon" href="assets/ico/favicon.html">
    <link href="assets/css/bootstrap.css" rel="stylesheet">
    <link href="assets/css/theme.css" rel="stylesheet">
    <link href="assets/css/font-awesome.min.css" rel="stylesheet">
    <link href="assets/css/alertify.css" rel="stylesheet">
    <link rel="Favicon Icon" href="favicon.ico">
    <link rel="stylesheet" href="assets/css/alertify.css">
    <link rel="stylesheet" href="assets/css/bootstrap-table.min.css">

    <script>
        $(function(){
            $('#table').bootstrapTable({
                url: '',
                method: 'post',
                contentType:"application/x-www-form-urlencoded",//method为post时必须加上这个,否则接收不到参数
                dataType: 'json',
                queryParams:function queryParams(params) {   //设置查询参数

                    var param = {

                        pageSize: params.limit,   //每页多少条数据
                        pageNumber: params.offset, //从第几条数据开始
                        searchText: params.search  //搜索框
                    };
                    //alert("pageSize="+params.limit+"pageNumber="+params.offset+"searchText="+searchText);
                    return param;
                },
                height: 560,
                toolbar: '#toolbar',                //工具按钮用哪个容器
                striped: true,                      //是否显示行间隔色
                pagination: true,                   //是否显示分页（*）
                maintainSelected: true,             //设置为 true 在点击分页按钮或搜索按钮时，将记住checkbox的选择项
                sidePagination: "server",          //分页方式：client客户端分页，server服务端分页（*）
                pageNumber: 1,                       //初始化加载第一页，默认第一页
                pageSize: 10,                       //每页的记录行数（*）
                pageList: [10, 25, 50, 100],        //可供选择的每页的行数（*）
                search: true,                       //是否显示表格搜索，此搜索是客户端搜索，不会进服务端，所以，个人感觉意义不大
                strictSearch: true,                //设置为 true启用 全匹配搜索，否则为模糊搜索
                showRefresh: true,                  //是否显示刷新按钮
                minimumCountColumns: 2,             //最少允许的列数
                clickToSelect: true,                //是否启用点击选中行
                uniqueId: "userid",                  //每一行的唯一标识，一般为主键列\
                sortStable: true,
                columns: [
                    {checkbox: true},
                    {field: 'userid', title: '时间'},
                    {field: 'username', title: '异常原因'},
                ]
            });
        });
    </script>
</head>
<body>
<div id="content">
    <table id="table"></table>
    <div id="toolbar" class="btn-group">
        <button id="btn_add" type="button" class="btn btn-danger" data-toggle="modal" data-target="#addModal">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>修改用户信息
        </button>
        <button id="btn_delete" type="button" class="btn btn-info">
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>删除用户信息
        </button>
    </div>
    </table>
</div>

<script type="text/javascript" src="assets/js/jquery.min.js"></script>
<script type="text/javascript" src="assets/js/jquery-ui.min.js"></script>
<script type="text/javascript" src="assets/js/raphael-min.js"></script>
<script type="text/javascript" src="assets/js/bootstrap.js"></script>
<script type="text/javascript" src='assets/js/sparkline.js'></script>
<script type="text/javascript" src='assets/js/morris.min.js'></script>
<script type="text/javascript" src="assets/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="assets/js/jquery.masonry.min.js"></script>
<script type="text/javascript" src="assets/js/jquery.imagesloaded.min.js"></script>
<script type="text/javascript" src="assets/js/jquery.facybox.js"></script>
<script type="text/javascript" src="assets/js/jquery.alertify.min.js"></script>
<script type="text/javascript" src="assets/js/jquery.knob.js"></script>
<script type='text/javascript' src='assets/js/fullcalendar.min.js'></script>
<script type='text/javascript' src='assets/js/jquery.gritter.min.js'></script>
<script type="text/javascript" src="assets/js/realm.js"></script>
<script src="assets/js/bootstrap-table.min.js"></script>
<script src="assets/js/bootstrap-table-zh-CN.min.js"></script>
<script>
    $('.showmodel').onmouseover(function(){
        $(this).siblings().show()
    })
</script>
</body>
</html>
